//META{"name":"AntiDox","description":"Hides personal information from Discord. Will show information when you hover over it, so beware. DM me if you need any assistance, Dante#3456. Check the Github source for updates or to see any other BD plugins/themes of mine.","author":"Dante#3456","version":"0.2","source":"https://github.com/cdantetho/DiscordTools"}*//{}

/*###################################################################################################
This theme was developed by Dante#3456 with the goal of helping users NOT dox themselves whenever they open their settings while screensharing.

I will be working to add more features to this as I see more potential to conceal personal information.

Enjoy!
###################################################################################################*/

/* Blur account email */
.userInfoViewing-16kqK3 .flexChild-faoVW3 > div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj {
    filter: blur(5px);
    transition: 200ms cubic-bezier(.2, .11, 0, 1);
}

/* Show account email onhover */
.userInfoViewing-16kqK3 .flexChild-faoVW3 > div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj:hover {
    filter: none;
    transition: 200ms cubic-bezier(.2, .11, 0, 1);
}



/* Blur 2FA Phone Number Preview (last 4 of your phone # is shown if you have 2FA enabled). */
.userSettingsSecurity-3IYeMF .children-rWhLdy > div:nth-child(2){
    filter: blur(5px);
    transition: 200ms cubic-bezier(.2, .11, 0, 1);
}

/* Show the 2FA Phone Number Preview when you hover over it. */
.userSettingsSecurity-3IYeMF .children-rWhLdy > div:nth-child(2):hover{
    filter: none;
    transition: 200ms cubic-bezier(.2, .11, 0, 1);
}