/* Blur account email */
.userInfoViewing-16kqK3 .flexChild-faoVW3 > div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj {
    filter: blur(5px);
    transition: 200ms cubic-bezier(.2, .11, 0, 1);
}

/* Show account email onhover */
.userInfoViewing-16kqK3 .flexChild-faoVW3 > div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj:hover {
    filter: none;
    transition: 200ms cubic-bezier(.2, .11, 0, 1);
}


/* Blur 2FA Phone Number Preview (last 4 of your phone # is shown if you have 2FA enabled). */
.userSettingsSecurity-3IYeMF .children-rWhLdy > div:nth-child(2){
    filter: blur(5px);
    transition: 200ms cubic-bezier(.2, .11, 0, 1);
}

/* Show the 2FA Phone Number Preview when you hover over it. */
.userSettingsSecurity-3IYeMF .children-rWhLdy > div:nth-child(2):hover{
    filter: none;
    transition: 200ms cubic-bezier(.2, .11, 0, 1);
}